/* div{
    border: 0.5px solid black;
} */

div.polaroid {
    /* width: 80%; */
    /* height:50%; */

    width:50%;
    height:10%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
div.containerinside {
    text-align: center;
    padding: 10px 20px;
}

