<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Navbar</span>
</nav>
<br>
<br>
<div class = "container1" style="margin:50px 50px 50px 50px">
  <div class = "row">
    <div class = "col-md-4">

      
      <div class="polaroid">
          <img src="assets/1.jpeg" alt="5 Terre" style="width:100%">
          <div class="containerinside">
          <p>Cinque Terre</p>
          </div>
      </div>
        
    </div>
    <div class = "col-md-5"  style="padding:-20px;float:left">
         <div class = "container">
              <h4>Name : </h4>
         </div>
         <br>
         <div class = "container">
               <h4>Description : </h4>
         </div>
         <br>
         <br>
         <div class = "container">
              <h4>Price : </h4>
         </div>
         <br>
         <div class = "container">
            <h4>Available : </h4>
         </div>

         <div class = "container">
                 

         </div>

    </div>
    <div class = "col-md-3"  style="padding-left:50px">
        <br>
        <button type="button" class="btn btn-outline-info">Add to cart</button>
        <br>
        <br>
        <button type="button" class="btn btn-outline-secondary">Share</button>
      
    </div>
  </div>

</div>


